.grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}


table ,tr, td, th{
    border: 2px solid;
    border-color: black;
    text-align: center;
}

#maintable{
    height: 300px;
    width: 350px;
}

#table2{
    text-align: center;
    width:300px;
    align-content: center;
}
#table1{
  width: 300px;
}


#table3{
    width: 300px;
}

#table4{
    width: 300px;
}


#new{
    background-color: black;
}

